.html {
    height: 100%;
}
body {
    background-color: rgb(214, 214, 214);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: black;
    list-style: none;
    font-weight: 300px;
}
.container {
    max-width: 1024px;
    min-height: 500px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: white;
}
/* styling of the pricing table header */

.table-header-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    border-radius: 20px 20px;
}
.inner-header-container {
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box1 { 
    flex: 1 1 600px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    height: 120px;
    font-family: 'Comfortaa', cursive;
    /* font-size: 1rem; */
    font-weight: 600px;
}
.box1 h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600px;
    font-size: 2.2rem;
}
.box2 { 
    flex: 1 1 150px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
}
.box3 { 
    flex: 2 1 500px;
    background-color: rgb(255, 255, 255);
    min-height: 50px;
}
.box3 hr {
    margin: 20px 20px;
    border: 3px solid #06068d21;
    border-radius: 50px;
}
.double-button {
    padding: 0px 0px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(107, 107, 107);
}
.double-button a {
    text-decoration: none;
    color: black;
}
.button1 a {
    text-decoration: none;
    color: white;
}
.button1 {
    flex: 1;
    text-align: center;
    background-color: #3221ce;
    padding: 15px 1px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}
.button1:hover a {
    background-color: #3221ce;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
}

.button2 {
    flex:1;
    text-align: center;
    background-color: #ffffff;
    padding: 15px 1px;
    border-radius: 50px;
}
.button2:hover a {
    background-color: #3221ce;
    padding: 15px 35px;
    border-radius: 50px;
    color: white;
}

/* styling of the pricing tables */

.pricing-container {
    width: 100%;
    min-height: 500px;
    /* background-color: pink; */
    display: flex;
}
.price {
    flex: 1;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
.header {
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
}
.pricer {
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}
.pricer span {
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    font-weight: 500px;

}
.feature {
    display: block;
    margin: 20px 0px;
    font-weight: 300px;
    color: rgb(26, 26, 26);
}
.feature span {
    margin-left: 10px;
}
.button {
    border: 1px solid #3221ce;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}
.button a {
    text-decoration: none;
    color: #3221ce;

}
.price:hover {
    background-color: #000000;
}
.price:hover li {
    color: #ffffff;
}
.price:hover a {
    color: #000000;
}
.price:hover .button {
    border: 1px solid black;
}
.price3 {
    background-color: #3221ce;
}
.price3 li {
    color: rgb(255, 255, 255);
}

/* responsiveness on tablet */

@media (max-width:900px) {
    .pricing-container {
        flex-wrap: wrap;
    }
    .box1 {
        flex: 3 1; 
    }
    .box3 {
        margin-top:60px;
    }
    .price4 {
        background-color: #3221ce;
        color: white;
    }
    .price4 .feature {
        color: white;
    }
    .price3 {
        background-color: #ffffff;
    }
    .price3 li {
        color: rgb(0, 0, 0);
    }
}

/* responsiveness on tablet */

@media (max-width:737px) {
    .pricing-container {
        flex-wrap: wrap;
    }
    .box1 {
        flex: 3 1; 
    }
    .box2 {
        flex: 1 1 50px;
    }
    .box3 {
        margin-top:60px;
    }
}

/* responsiveness on tablet */

@media (max-width:624px) {
    .pricing-container {
        flex-wrap: wrap;
    }
    .box1 {
        flex: 3 1; 
    }
    .box2 {
        flex: 2;
    }
    .box3 {
        margin-top:90px;
    }
}
/* responsiveness on mobile */

@media (max-width:432px) {
    .pricing-container {
        flex-wrap: wrap;
    }
    .box1 {
        flex: 1 1 400px;

    }
    .box2 {
        flex: 1 1 400px;
        margin-top: 100px;
        margin-left: 20px;
    }
    .box3 {
        margin-top:40px;
    }
}

